SET session_replication_role = replica;

--
-- PostgreSQL database dump
--

-- \restrict g45sxEdTEbSSmzTwybcL9Wfs4itvJ1FlUHMlOpbDYsFgefKOEfIWurQzgyLWmVa

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: supabase_migrations; Owner: postgres
--

INSERT INTO "supabase_migrations"."schema_migrations" ("version", "statements", "name") VALUES
	('20260126200000', '{"-- Enable replication for realtime for specific tables
ALTER PUBLICATION supabase_realtime ADD TABLE bookings, products, transactions, customers, venues, courts"}', 'enable_realtime'),
	('20260126210000', '{"-- Enable RLS on all tables
ALTER TABLE venues ENABLE ROW LEVEL SECURITY","ALTER TABLE courts ENABLE ROW LEVEL SECURITY","ALTER TABLE bookings ENABLE ROW LEVEL SECURITY","ALTER TABLE customers ENABLE ROW LEVEL SECURITY","ALTER TABLE products ENABLE ROW LEVEL SECURITY","ALTER TABLE transactions ENABLE ROW LEVEL SECURITY","ALTER TABLE transaction_items ENABLE ROW LEVEL SECURITY","-- Create policies for authenticated users (admin) via DO block to avoid errors
DO $$
BEGIN
    -- Venues
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''venues'' AND policyname = ''Admins can do everything on venues'') THEN
        CREATE POLICY \"Admins can do everything on venues\" ON venues FOR ALL USING (auth.role() = ''authenticated'');
    END IF;

    -- Courts
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''courts'' AND policyname = ''Admins can do everything on courts'') THEN
        CREATE POLICY \"Admins can do everything on courts\" ON courts FOR ALL USING (auth.role() = ''authenticated'');
    END IF;

    -- Bookings
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''bookings'' AND policyname = ''Admins can do everything on bookings'') THEN
        CREATE POLICY \"Admins can do everything on bookings\" ON bookings FOR ALL USING (auth.role() = ''authenticated'');
    END IF;

    -- Customers
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''customers'' AND policyname = ''Admins can do everything on customers'') THEN
        CREATE POLICY \"Admins can do everything on customers\" ON customers FOR ALL USING (auth.role() = ''authenticated'');
    END IF;

    -- Products
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''products'' AND policyname = ''Admins can do everything on products'') THEN
        CREATE POLICY \"Admins can do everything on products\" ON products FOR ALL USING (auth.role() = ''authenticated'');
    END IF;

    -- Transactions
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''transactions'' AND policyname = ''Admins can do everything on transactions'') THEN
        CREATE POLICY \"Admins can do everything on transactions\" ON transactions FOR ALL USING (auth.role() = ''authenticated'');
    END IF;

    -- Transaction Items
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''transaction_items'' AND policyname = ''Admins can do everything on transaction_items'') THEN
        CREATE POLICY \"Admins can do everything on transaction_items\" ON transaction_items FOR ALL USING (auth.role() = ''authenticated'');
    END IF;
END $$","-- Public policies for Bookings (Allow insert for public booking form later)
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''bookings'' AND policyname = ''Public can create bookings'') THEN
        CREATE POLICY \"Public can create bookings\" ON bookings FOR INSERT WITH CHECK (true);
    END IF;

    -- Allow public to view their OWN bookings? 
    -- Typically requires a token or session reference, but for now we might leave it open or use a shared secret.
    -- The guide suggested:
    -- CREATE POLICY \"Public can view their own bookings\" ON bookings FOR SELECT USING (true);
    -- \"true\" means they can view ALL bookings. That''s probably needed for the Scheduler view on public API.
    -- Yes, the public schedule shows valid bookings (without phone/name details maybe?).
    -- But RLS applies to API select.
    -- If public schedule API uses service_role, it bypasses RLS.
    -- If it uses anon key, it hits RLS.
    -- For now, let''s allow Public Read on Bookings to see availability.
    
    IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = ''bookings'' AND policyname = ''Public can view bookings'') THEN
        CREATE POLICY \"Public can view bookings\" ON bookings FOR SELECT USING (true);
    END IF;
END $$"}', 'secure_rls'),
	('20260126110000', '{"-- Create venues table
CREATE TABLE IF NOT EXISTS venues (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    address TEXT,
    phone TEXT,
    email TEXT,
    operating_hours_start INTEGER DEFAULT 8,
    operating_hours_end INTEGER DEFAULT 23,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Ensure columns exist if table was already created
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''phone'') THEN
        ALTER TABLE venues ADD COLUMN phone TEXT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''address'') THEN
        ALTER TABLE venues ADD COLUMN address TEXT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''email'') THEN
        ALTER TABLE venues ADD COLUMN email TEXT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''operating_hours_start'') THEN
        ALTER TABLE venues ADD COLUMN operating_hours_start INTEGER DEFAULT 8;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''operating_hours_end'') THEN
        ALTER TABLE venues ADD COLUMN operating_hours_end INTEGER DEFAULT 23;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''is_active'') THEN
        ALTER TABLE venues ADD COLUMN is_active BOOLEAN DEFAULT true;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''created_at'') THEN
        ALTER TABLE venues ADD COLUMN created_at TIMESTAMPTZ DEFAULT NOW();
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''venues'' AND column_name = ''updated_at'') THEN
        ALTER TABLE venues ADD COLUMN updated_at TIMESTAMPTZ DEFAULT NOW();
    END IF;
END $$","-- Insert default venue
INSERT INTO venues (id, name, address, phone) 
VALUES (
    ''00000000-0000-0000-0000-000000000001'',
    ''GOR Badminton Center'',
    ''Jl. Olahraga No. 123'',
    ''08123456789''
) ON CONFLICT (id) DO NOTHING","-- Enable RLS for venues
ALTER TABLE venues ENABLE ROW LEVEL SECURITY","-- Create courts table
CREATE TABLE IF NOT EXISTS courts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    court_number INTEGER NOT NULL,
    is_active BOOLEAN DEFAULT true,
    hourly_rate DECIMAL(10,2) DEFAULT 50000,
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Ensure columns exist if courts table was already created
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''venue_id'') THEN
        ALTER TABLE courts ADD COLUMN venue_id UUID REFERENCES venues(id) ON DELETE CASCADE;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''court_number'') THEN
        ALTER TABLE courts ADD COLUMN court_number INTEGER NOT NULL DEFAULT 0;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''is_active'') THEN
        ALTER TABLE courts ADD COLUMN is_active BOOLEAN DEFAULT true;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''hourly_rate'') THEN
        ALTER TABLE courts ADD COLUMN hourly_rate DECIMAL(10,2) DEFAULT 50000;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''notes'') THEN
        ALTER TABLE courts ADD COLUMN notes TEXT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''created_at'') THEN
        ALTER TABLE courts ADD COLUMN created_at TIMESTAMPTZ DEFAULT NOW();
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = ''courts'' AND column_name = ''updated_at'') THEN
        ALTER TABLE courts ADD COLUMN updated_at TIMESTAMPTZ DEFAULT NOW();
    END IF;
    
    -- Fix duplicate court numbers (if any) before adding constraint
    UPDATE courts 
    SET court_number = c.rn 
    FROM (
        SELECT id, row_number() OVER (PARTITION BY venue_id ORDER BY created_at) as rn 
        FROM courts
    ) c 
    WHERE courts.id = c.id AND (courts.court_number = 0 OR courts.court_number IS NULL);
END $$","-- Add indexes for courts
CREATE INDEX IF NOT EXISTS idx_courts_venue_id ON courts(venue_id)","CREATE INDEX IF NOT EXISTS idx_courts_active ON courts(is_active)","-- Add unique constraint for courts
ALTER TABLE courts DROP CONSTRAINT IF EXISTS unique_venue_court_number","ALTER TABLE courts ADD CONSTRAINT unique_venue_court_number 
    UNIQUE(venue_id, court_number)","-- Insert default courts
INSERT INTO courts (venue_id, name, court_number, is_active, hourly_rate) VALUES
    (''00000000-0000-0000-0000-000000000001'', ''Court 1'', 1, true, 50000),
    (''00000000-0000-0000-0000-000000000001'', ''Court 2'', 2, true, 50000),
    (''00000000-0000-0000-0000-000000000001'', ''Court 3'', 3, true, 50000),
    (''00000000-0000-0000-0000-000000000001'', ''Court 4'', 4, true, 50000)
ON CONFLICT (venue_id, court_number) DO NOTHING","-- Enable RLS for courts
ALTER TABLE courts ENABLE ROW LEVEL SECURITY","-- Create policies (assuming auth is not fully set up yet, we allow public access for now as per guide policies section effectively)
-- But wait, the guide section 4 sets up RLS properly.
-- I''ll follow the guide''s RLS recommendations in a later step or include them here?
-- The user said \"starting with the Courts Management API\".
-- If I add strict RLS now, and Auth isn''t set up, everything might break if I don''t add public policies.
-- The guide says:
-- \"Public can view active courts\"
-- \"Public can create bookings\"

-- Let''s add the basic policies for Courts and Venues so they are usable.
-- Create policies safely
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''venues'' AND policyname = ''Public can view active venues''
    ) THEN
        CREATE POLICY \"Public can view active venues\" ON venues FOR SELECT USING (is_active = true);
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''courts'' AND policyname = ''Public can view active courts''
    ) THEN
        CREATE POLICY \"Public can view active courts\" ON courts FOR SELECT USING (is_active = true);
    END IF;
END $$"}', 'init_venues_and_courts'),
	('20260126120000', '{"CREATE TABLE IF NOT EXISTS phone_verifications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    phone_number TEXT NOT NULL,
    country_code TEXT NOT NULL DEFAULT ''+62'', -- Default to Indonesia
    totp_secret TEXT, -- For TOTP-based verification
    verification_code TEXT, -- For SMS OTP (hashed)
    verification_type TEXT NOT NULL DEFAULT ''totp'' CHECK (verification_type IN (''totp'', ''sms'', ''manual'')),
    attempts INTEGER DEFAULT 0,
    max_attempts INTEGER DEFAULT 5,
    is_verified BOOLEAN DEFAULT false,
    expires_at TIMESTAMPTZ NOT NULL,
    verified_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_phone_verifications_user_id ON phone_verifications(user_id)","CREATE INDEX IF NOT EXISTS idx_phone_verifications_phone ON phone_verifications(phone_number)","CREATE INDEX IF NOT EXISTS idx_phone_verifications_verified ON phone_verifications(is_verified)","-- Create unique constraint to prevent duplicate pending verifications
CREATE UNIQUE INDEX IF NOT EXISTS idx_phone_verifications_pending 
    ON phone_verifications(user_id, phone_number) 
    WHERE is_verified = false","-- Rate limiting table to track OTP requests
CREATE TABLE IF NOT EXISTS phone_verification_rate_limits (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    phone_number TEXT NOT NULL,
    ip_address TEXT,
    request_count INTEGER DEFAULT 1,
    window_start TIMESTAMPTZ DEFAULT NOW(),
    created_at TIMESTAMPTZ DEFAULT NOW()
)","CREATE INDEX IF NOT EXISTS idx_rate_limits_phone ON phone_verification_rate_limits(phone_number)","CREATE INDEX IF NOT EXISTS idx_rate_limits_ip ON phone_verification_rate_limits(ip_address)","CREATE INDEX IF NOT EXISTS idx_rate_limits_window ON phone_verification_rate_limits(window_start)","-- Enable RLS on phone_verifications
ALTER TABLE phone_verifications ENABLE ROW LEVEL SECURITY","ALTER TABLE phone_verification_rate_limits ENABLE ROW LEVEL SECURITY","-- Create RLS policies safely
DO $$
BEGIN
    -- Policy: Users can view their own verification records
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''phone_verifications'' AND policyname = ''Users can view own verifications''
    ) THEN
        CREATE POLICY \"Users can view own verifications\"
            ON phone_verifications FOR SELECT
            USING (auth.uid() = user_id);
    END IF;

    -- Policy: Allow inserting verification records during registration
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''phone_verifications'' AND policyname = ''Allow insert during registration''
    ) THEN
        CREATE POLICY \"Allow insert during registration\"
            ON phone_verifications FOR INSERT
            WITH CHECK (true);
    END IF;

    -- Policy: Users can update their own verification records
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''phone_verifications'' AND policyname = ''Users can update own verifications''
    ) THEN
        CREATE POLICY \"Users can update own verifications\"
            ON phone_verifications FOR UPDATE
            USING (auth.uid() = user_id);
    END IF;

    -- Policy: Rate limits - service role only (for API routes)
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''phone_verification_rate_limits'' AND policyname = ''Service role manages rate limits''
    ) THEN
        CREATE POLICY \"Service role manages rate limits\"
            ON phone_verification_rate_limits FOR ALL
            USING (auth.role() = ''service_role'');
    END IF;
END $$","-- Function to clean up expired verifications (run periodically)
CREATE OR REPLACE FUNCTION cleanup_expired_verifications()
RETURNS void AS $$
BEGIN
    DELETE FROM phone_verifications 
    WHERE is_verified = false 
    AND expires_at < NOW();
    
    DELETE FROM phone_verification_rate_limits
    WHERE window_start < NOW() - INTERVAL ''1 hour'';
END;
$$ LANGUAGE plpgsql SECURITY DEFINER","-- Comment on tables
COMMENT ON TABLE phone_verifications IS ''Stores phone verification attempts and TOTP secrets for user registration''","COMMENT ON TABLE phone_verification_rate_limits IS ''Rate limiting for phone verification requests''"}', 'phone_verifications'),
	('20260127100000', '{"-- Create shifts table for cashier management
CREATE TABLE IF NOT EXISTS shifts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    opener_id UUID REFERENCES auth.users(id) ON DELETE SET NULL, -- Who opened the shift
    closer_id UUID REFERENCES auth.users(id) ON DELETE SET NULL, -- Who closed the shift
    start_time TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    end_time TIMESTAMPTZ,
    start_cash DECIMAL(10,2) NOT NULL DEFAULT 0,
    end_cash DECIMAL(10,2), -- Actual cash counted
    expected_cash DECIMAL(10,2), -- System calculated cash expected
    status TEXT NOT NULL DEFAULT ''open'' CHECK (status IN (''open'', ''closed'')),
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Indexes
CREATE INDEX IF NOT EXISTS idx_shifts_venue_id ON shifts(venue_id)","CREATE INDEX IF NOT EXISTS idx_shifts_status ON shifts(status)","CREATE INDEX IF NOT EXISTS idx_shifts_start_time ON shifts(start_time)","-- RLS Policies
ALTER TABLE shifts ENABLE ROW LEVEL SECURITY","DO $$
BEGIN
    -- Public/Authenticated users can view shifts (refined later for specific roles if needed)
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''shifts'' AND policyname = ''Enable read access for authenticated users''
    ) THEN
        CREATE POLICY \"Enable read access for authenticated users\" ON shifts FOR SELECT TO authenticated USING (true);
    END IF;

    -- Public/Authenticated users can insert shifts
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''shifts'' AND policyname = ''Enable insert access for authenticated users''
    ) THEN
        CREATE POLICY \"Enable insert access for authenticated users\" ON shifts FOR INSERT TO authenticated WITH CHECK (true);
    END IF;

    -- Public/Authenticated users can update shifts
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies WHERE tablename = ''shifts'' AND policyname = ''Enable update access for authenticated users''
    ) THEN
        CREATE POLICY \"Enable update access for authenticated users\" ON shifts FOR UPDATE TO authenticated USING (true);
    END IF;
END $$","COMMENT ON TABLE shifts IS ''Tracks cashier shifts, open/close times, and cash reconciliation''"}', 'create_shifts'),
	('20260127110000', '{"-- Function to calculate shift totals
-- Returns expected cash, total sales, etc. based on transactions within the shift window

CREATE OR REPLACE FUNCTION get_shift_totals(
    p_venue_id UUID,
    p_start_time TIMESTAMPTZ,
    p_end_time TIMESTAMPTZ DEFAULT NOW()
)
RETURNS TABLE (
    total_cash DECIMAL(10,2),
    total_transfer DECIMAL(10,2),
    total_bookings_revenue DECIMAL(10,2),
    total_products_revenue DECIMAL(10,2),
    expected_cash_in_drawer DECIMAL(10,2) -- start_cash + cash_transactions
) AS $$
DECLARE
    v_start_cash DECIMAL(10,2);
    v_cash_transactions DECIMAL(10,2);
    v_transfer_transactions DECIMAL(10,2);
    v_booking_revenue DECIMAL(10,2);
    v_product_revenue DECIMAL(10,2);
BEGIN
    -- Get Start Cash for this shift (assuming p_start_time matches a shift start, or we just look up the shift covering this time)
    -- Actually, the caller should pass the correct Start Cash from the shift record if they want \"Expected Cash in Drawer\".
    -- But for this function, let''s keep it focused on TRANSACTION totals.
    -- We can fetch the shift''s start_cash inside here if we had the shift_id, but we have timestamps.
    -- Let''s stick to returning transaction aggregates, and let the caller add start_cash.
    -- However, to make it easy for the UI, let''s try to find the shift if we can, or just return 0 for start_cash if not found (but that''s risky).
    -- BETTER APPROACH: The caller (UI/API) knows the ID and Start Cash. 
    -- So this function should focus on calculating the REVENUE/TRANSACTIONS within the period.
    
    -- Calculate Cash Total (Transactions with payment_method = ''cash'')
    SELECT COALESCE(SUM(paid_amount), 0)
    INTO v_cash_transactions
    FROM transactions
    WHERE venue_id = p_venue_id
    AND created_at >= p_start_time
    AND created_at <= p_end_time
    AND payment_method = ''cash'';

    -- Calculate Transfer Total
    SELECT COALESCE(SUM(paid_amount), 0)
    INTO v_transfer_transactions
    FROM transactions
    WHERE venue_id = p_venue_id
    AND created_at >= p_start_time
    AND created_at <= p_end_time
    AND payment_method = ''transfer'';

    -- Calculate Booking Revenue (Items of type ''BOOKING'' in transactions)
    -- Be careful: We want the sum of SUBTOTALS for items, OR the split of the paid amount?
    -- If a transaction is mixed (Booking + Product), we need to check items.
    -- But ''paid_amount'' is on the transaction. 
    -- If a transaction is partial, how do we attribute it?
    -- Allow simplification: 
    -- We look at ''transaction_items'' linked to transactions in this period.
    -- Sum of ''subtotal'' for BOOKING items.
    -- NOTE: This assumes ''subtotal'' reflects accurately what was paid? 
    -- No, ''subtotal'' is price * quantity. ''paid_amount'' is what was actually paid on the transaction.
    -- If paid_amount < total_amount, we have a problem attributing cash to specific items.
    -- FOR MVP: Assume paid_amount covers items proportionally or simply sum ''paid_amount'' of transactions where distinct types exist?
    -- Better: Just filter transactions by type if possible? No, transactions can be mixed.
    -- Let''s just sum transaction_items subtotals to see \"Sales Volume\", but \"Cash Collected\" is hard to split if mixed.
    -- LUCKILY: The prompt asks for \"data consistency... bookings, players buying food...\".
    -- Let''s just return the Total Cash and Total Transfer regardless of item type for the \"Cash Check\".
    -- For \"Revenue Breakdown\", we can sum the item values.
    
    SELECT COALESCE(SUM(ti.subtotal), 0)
    INTO v_booking_revenue
    FROM transaction_items ti
    JOIN transactions t ON t.id = ti.transaction_id
    WHERE t.venue_id = p_venue_id
    AND t.created_at >= p_start_time
    AND t.created_at <= p_end_time
    AND ti.type = ''BOOKING'';

    SELECT COALESCE(SUM(ti.subtotal), 0)
    INTO v_product_revenue
    FROM transaction_items ti
    JOIN transactions t ON t.id = ti.transaction_id
    WHERE t.venue_id = p_venue_id
    AND t.created_at >= p_start_time
    AND t.created_at <= p_end_time
    AND ti.type = ''PRODUCT'';

    RETURN QUERY SELECT 
        v_cash_transactions as total_cash,
        v_transfer_transactions as total_transfer,
        v_booking_revenue as total_bookings_revenue,
        v_product_revenue as total_products_revenue,
        0.00 as expected_cash_in_drawer; -- Placeholder, caller adds start_cash
END;
$$ LANGUAGE plpgsql SECURITY DEFINER"}', 'get_shift_totals'),
	('20260127120000', '{"-- Create user_venues table for multi-tenant architecture
-- This enables each auth user to be associated with one or more venues

CREATE TABLE IF NOT EXISTS user_venues (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    role TEXT NOT NULL DEFAULT ''owner'' CHECK (role IN (''owner'', ''manager'', ''staff'')),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(user_id, venue_id)
)","-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_user_venues_user ON user_venues(user_id)","CREATE INDEX IF NOT EXISTS idx_user_venues_venue ON user_venues(venue_id)","-- Enable Row Level Security
ALTER TABLE user_venues ENABLE ROW LEVEL SECURITY","-- RLS Policies for user_venues table
DO $$
BEGIN
    -- Users can view their own venue associations
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = ''user_venues'' 
        AND policyname = ''Users can view their venue associations''
    ) THEN
        CREATE POLICY \"Users can view their venue associations\"
            ON user_venues FOR SELECT
            USING (auth.uid() = user_id);
    END IF;

    -- Users can create venue associations during onboarding
    -- (they can only create associations for themselves)
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = ''user_venues'' 
        AND policyname = ''Users can create venue associations during onboarding''
    ) THEN
        CREATE POLICY \"Users can create venue associations during onboarding\"
            ON user_venues FOR INSERT
            WITH CHECK (auth.uid() = user_id);
    END IF;

    -- Only owners can update venue associations
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = ''user_venues'' 
        AND policyname = ''Owners can update venue associations''
    ) THEN
        CREATE POLICY \"Owners can update venue associations\"
            ON user_venues FOR UPDATE
            USING (auth.uid() = user_id AND role = ''owner'');
    END IF;

    -- Only owners can delete venue associations
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = ''user_venues'' 
        AND policyname = ''Owners can delete venue associations''
    ) THEN
        CREATE POLICY \"Owners can delete venue associations\"
            ON user_venues FOR DELETE
            USING (auth.uid() = user_id AND role = ''owner'');
    END IF;
END $$","-- Migration: Associate existing auth users with the default venue
-- This ensures existing test users continue to work
INSERT INTO user_venues (user_id, venue_id, role)
SELECT id, ''00000000-0000-0000-0000-000000000001'', ''owner''
FROM auth.users
WHERE NOT EXISTS (
    SELECT 1 FROM user_venues WHERE user_venues.user_id = auth.users.id
)
ON CONFLICT (user_id, venue_id) DO NOTHING","-- Add updated_at trigger for user_venues
CREATE OR REPLACE FUNCTION update_user_venues_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql","DROP TRIGGER IF EXISTS user_venues_updated_at_trigger ON user_venues","CREATE TRIGGER user_venues_updated_at_trigger
    BEFORE UPDATE ON user_venues
    FOR EACH ROW
    EXECUTE FUNCTION update_user_venues_updated_at()"}', 'user_venues_onboarding'),
	('20260128100000', '{"-- Migration: Create reminder_logs table for tracking member renewal reminders
-- Date: 2026-01-28

-- Table to store reminder logs
CREATE TABLE IF NOT EXISTS reminder_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    customer_id UUID NOT NULL REFERENCES customers(id) ON DELETE CASCADE,
    reminder_type TEXT NOT NULL CHECK (reminder_type IN (''30_DAYS'', ''7_DAYS'', ''EXPIRED'', ''MANUAL'')),
    channel TEXT NOT NULL CHECK (channel IN (''WHATSAPP'', ''SMS'', ''EMAIL'')),
    message_content TEXT NOT NULL,
    phone_number TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT ''PENDING'' CHECK (status IN (''PENDING'', ''SENT'', ''DELIVERED'', ''FAILED'', ''READ'')),
    external_message_id TEXT, -- ID from WhatsApp API provider
    error_message TEXT,
    sent_at TIMESTAMPTZ,
    delivered_at TIMESTAMPTZ,
    read_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Index for efficient querying
CREATE INDEX IF NOT EXISTS idx_reminder_logs_venue_id ON reminder_logs(venue_id)","CREATE INDEX IF NOT EXISTS idx_reminder_logs_customer_id ON reminder_logs(customer_id)","CREATE INDEX IF NOT EXISTS idx_reminder_logs_status ON reminder_logs(status)","CREATE INDEX IF NOT EXISTS idx_reminder_logs_created_at ON reminder_logs(created_at)","-- Enable RLS
ALTER TABLE reminder_logs ENABLE ROW LEVEL SECURITY","-- RLS Policies
CREATE POLICY \"Users can view reminder logs for their venues\"
    ON reminder_logs FOR SELECT
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can insert reminder logs for their venues\"
    ON reminder_logs FOR INSERT
    WITH CHECK (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can update reminder logs for their venues\"
    ON reminder_logs FOR UPDATE
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","-- Function to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_reminder_logs_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql","-- Trigger for updated_at
CREATE TRIGGER trigger_update_reminder_logs_updated_at
    BEFORE UPDATE ON reminder_logs
    FOR EACH ROW
    EXECUTE FUNCTION update_reminder_logs_updated_at()","-- Enable realtime for reminder_logs
ALTER PUBLICATION supabase_realtime ADD TABLE reminder_logs"}', 'create_reminder_logs'),
	('20260128110000', '{"-- Migration: Schedule daily reminder cron job
-- Date: 2026-01-28
-- This schedules the check-expiring-members Edge Function to run daily at 09:00 WIB (02:00 UTC)

-- Enable required extensions
CREATE EXTENSION IF NOT EXISTS pg_cron","CREATE EXTENSION IF NOT EXISTS pg_net","-- Store secrets in Vault for secure access
-- Note: These need to be set manually in Supabase Dashboard > Settings > Vault
-- INSERT INTO vault.secrets (name, secret) VALUES (''project_url'', ''https://your-project-ref.supabase.co'');
-- INSERT INTO vault.secrets (name, secret) VALUES (''anon_key'', ''your-anon-key'');

-- Schedule the cron job to run daily at 02:00 UTC (09:00 WIB)
SELECT cron.schedule(
    ''check-expiring-members-daily'',
    ''0 2 * * *'', -- Every day at 02:00 UTC (09:00 WIB)
    $$
    SELECT net.http_post(
        url := (SELECT decrypted_secret FROM vault.decrypted_secrets WHERE name = ''project_url'') || ''/functions/v1/check-expiring-members'',
        headers := jsonb_build_object(
            ''Content-Type'', ''application/json'',
            ''Authorization'', ''Bearer '' || (SELECT decrypted_secret FROM vault.decrypted_secrets WHERE name = ''anon_key'')
        ),
        body := jsonb_build_object(''triggered_at'', now()::text)
    ) AS request_id;
    $$
)","-- To view scheduled jobs:
-- SELECT * FROM cron.job;

-- To unschedule:
-- SELECT cron.unschedule(''check-expiring-members-daily'');"}', 'schedule_reminder_cron'),
	('20260128120000', '{"-- Add reminder_configuration column to venues table
ALTER TABLE venues 
ADD COLUMN IF NOT EXISTS reminder_configuration JSONB DEFAULT ''{
    \"warnings\": [
        {\"days_before\": 30, \"enabled\": true},
        {\"days_before\": 7, \"enabled\": true}
    ],
    \"expired_message_enabled\": true
}''::jsonb","-- Comment on column
COMMENT ON COLUMN venues.reminder_configuration IS ''Configuration for automated member renewal reminders''"}', 'add_reminder_config'),
	('20260128130000', '{"-- Add photo_url column to customers table
ALTER TABLE customers ADD COLUMN IF NOT EXISTS photo_url TEXT"}', 'add_member_photo'),
	('20260128133000', '{"-- Ensure bucket exists (idempotent)
INSERT INTO storage.buckets (id, name, public) 
VALUES (''member-photos'', ''member-photos'', true)
ON CONFLICT (id) DO UPDATE SET public = true","-- Policy for INSERT (Upload)
DROP POLICY IF EXISTS \"Allow public uploads to member-photos\" ON storage.objects","CREATE POLICY \"Allow public uploads to member-photos\"
ON storage.objects FOR INSERT
TO public
WITH CHECK (bucket_id = ''member-photos'')","-- Policy for SELECT (Read)
DROP POLICY IF EXISTS \"Allow public reads from member-photos\" ON storage.objects","CREATE POLICY \"Allow public reads from member-photos\"
ON storage.objects FOR SELECT
TO public
USING (bucket_id = ''member-photos'')","-- Policy for UPDATE
DROP POLICY IF EXISTS \"Allow public updates to member-photos\" ON storage.objects","CREATE POLICY \"Allow public updates to member-photos\"
ON storage.objects FOR UPDATE
TO public
USING (bucket_id = ''member-photos'')"}', 'fix_storage_policies'),
	('20260128140000', '{"-- Migration: Add is_deleted column
ALTER TABLE customers ADD COLUMN IF NOT EXISTS deleted_at TIMESTAMPTZ"}', 'soft_delete_customers'),
	('20260128150000', '{"-- Migration: Add helper view for member activity analysis
-- This is optional - the main analysis is done in the frontend API
-- But having this can be useful for future database-level analytics

-- Create a view for member booking statistics
-- Note: This view can be queried directly for advanced analytics

CREATE OR REPLACE VIEW member_booking_stats AS
SELECT 
    c.id as customer_id,
    c.venue_id,
    c.name,
    c.phone,
    c.is_member,
    c.quota,
    c.membership_expiry,
    MAX(b.booking_date) as last_booking_date,
    COUNT(b.id) as total_bookings,
    COUNT(CASE WHEN b.booking_date >= CURRENT_DATE - INTERVAL ''30 days'' THEN 1 END) as bookings_last_30_days,
    COUNT(CASE WHEN b.booking_date >= CURRENT_DATE - INTERVAL ''60 days'' AND b.booking_date < CURRENT_DATE - INTERVAL ''30 days'' THEN 1 END) as bookings_prev_30_days,
    COUNT(CASE WHEN b.booking_date >= CURRENT_DATE - INTERVAL ''90 days'' THEN 1 END) as bookings_last_90_days
FROM customers c
LEFT JOIN bookings b ON b.phone = c.phone AND b.venue_id = c.venue_id
WHERE c.is_member = true AND c.is_deleted = false
GROUP BY c.id, c.venue_id, c.name, c.phone, c.is_member, c.quota, c.membership_expiry","-- Add comment
COMMENT ON VIEW member_booking_stats IS ''Aggregated view of member booking activity for churn analysis''","-- Create index on bookings phone for faster member lookups (if not exists)
CREATE INDEX IF NOT EXISTS idx_bookings_phone ON bookings(phone)","-- Create index on customers phone for faster joins
CREATE INDEX IF NOT EXISTS idx_customers_phone ON customers(phone)"}', 'churn_analysis'),
	('20260128160000', '{"-- Migration: Win-back Promo & Exit Survey System
-- Date: 2026-01-28
-- Purpose: Store win-back promo logs and exit survey responses for member retention

-- ============================================
-- Table: winback_promo_logs
-- Stores history of win-back promos sent to at-risk members
-- ============================================
CREATE TABLE IF NOT EXISTS winback_promo_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    customer_id UUID NOT NULL REFERENCES customers(id) ON DELETE CASCADE,
    risk_level TEXT NOT NULL CHECK (risk_level IN (''high'', ''medium'', ''low'')),
    promo_code TEXT NOT NULL,
    discount_percent INTEGER NOT NULL DEFAULT 10,
    valid_until DATE,
    message_content TEXT NOT NULL,
    phone_number TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT ''SENT'' CHECK (status IN (''SENT'', ''FAILED'', ''REDEEMED'', ''EXPIRED'')),
    external_message_id TEXT,
    error_message TEXT,
    sent_at TIMESTAMPTZ DEFAULT NOW(),
    redeemed_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Indexes for winback_promo_logs
CREATE INDEX IF NOT EXISTS idx_winback_promo_logs_venue_id ON winback_promo_logs(venue_id)","CREATE INDEX IF NOT EXISTS idx_winback_promo_logs_customer_id ON winback_promo_logs(customer_id)","CREATE INDEX IF NOT EXISTS idx_winback_promo_logs_promo_code ON winback_promo_logs(promo_code)","CREATE INDEX IF NOT EXISTS idx_winback_promo_logs_status ON winback_promo_logs(status)","-- Enable RLS for winback_promo_logs
ALTER TABLE winback_promo_logs ENABLE ROW LEVEL SECURITY","-- RLS Policies for winback_promo_logs
CREATE POLICY \"Users can view winback logs for their venues\"
    ON winback_promo_logs FOR SELECT
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can insert winback logs for their venues\"
    ON winback_promo_logs FOR INSERT
    WITH CHECK (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can update winback logs for their venues\"
    ON winback_promo_logs FOR UPDATE
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","-- ============================================
-- Table: exit_surveys
-- Stores exit survey responses from members who didn''t renew
-- ============================================
CREATE TABLE IF NOT EXISTS exit_surveys (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    customer_id UUID NOT NULL REFERENCES customers(id) ON DELETE CASCADE,
    reasons TEXT[] NOT NULL DEFAULT ''{}'',
    other_reason TEXT,
    feedback TEXT,
    membership_expiry DATE,
    survey_sent_at TIMESTAMPTZ,
    completed_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Indexes for exit_surveys
CREATE INDEX IF NOT EXISTS idx_exit_surveys_venue_id ON exit_surveys(venue_id)","CREATE INDEX IF NOT EXISTS idx_exit_surveys_customer_id ON exit_surveys(customer_id)","CREATE INDEX IF NOT EXISTS idx_exit_surveys_completed_at ON exit_surveys(completed_at)","-- Enable RLS for exit_surveys
ALTER TABLE exit_surveys ENABLE ROW LEVEL SECURITY","-- RLS Policies for exit_surveys (allow public insert for survey submission)
CREATE POLICY \"Users can view exit surveys for their venues\"
    ON exit_surveys FOR SELECT
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Anyone can insert exit surveys\"
    ON exit_surveys FOR INSERT
    WITH CHECK (true)","CREATE POLICY \"Users can update exit surveys for their venues\"
    ON exit_surveys FOR UPDATE
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","-- ============================================
-- Add winback_configuration column to venues table
-- Stores: promo code format, discount %, validity days, enabled flag
-- ============================================
ALTER TABLE venues 
ADD COLUMN IF NOT EXISTS winback_configuration JSONB DEFAULT ''{
    \"enabled\": false,
    \"promo_code_prefix\": \"COMEBACK\",
    \"promo_code_suffix_length\": 6,
    \"default_discount_percent\": 15,
    \"validity_days\": 7,
    \"auto_send_enabled\": false,
    \"message_template\": \"Halo {name}! ≡ƒæï\\n\\nKami kangen sama kamu di {venue}! ≡ƒÅ╕\\n\\nGunakan kode promo *{promo_code}* untuk dapat diskon *{discount}%* booking lapangan.\\n\\nBerlaku sampai {valid_until}.\\n\\nYuk main lagi! ≡ƒÆ¬\"
}''::jsonb","-- ============================================
-- Update trigger for updated_at
-- ============================================
CREATE OR REPLACE FUNCTION update_winback_logs_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql","CREATE TRIGGER trigger_update_winback_logs_updated_at
    BEFORE UPDATE ON winback_promo_logs
    FOR EACH ROW
    EXECUTE FUNCTION update_winback_logs_updated_at()","CREATE OR REPLACE FUNCTION update_exit_surveys_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql","CREATE TRIGGER trigger_update_exit_surveys_updated_at
    BEFORE UPDATE ON exit_surveys
    FOR EACH ROW
    EXECUTE FUNCTION update_exit_surveys_updated_at()","-- ============================================
-- Enable realtime
-- ============================================
ALTER PUBLICATION supabase_realtime ADD TABLE winback_promo_logs","ALTER PUBLICATION supabase_realtime ADD TABLE exit_surveys","-- ============================================
-- Comments
-- ============================================
COMMENT ON TABLE winback_promo_logs IS ''Stores win-back promo messages sent to at-risk members''","COMMENT ON TABLE exit_surveys IS ''Stores exit survey responses from members who did not renew''","COMMENT ON COLUMN venues.winback_configuration IS ''JSON configuration for win-back promo feature including code format and templates''"}', 'winback_exit_survey'),
	('20260128170000', '{"-- Migration: Maintenance System
-- Creates maintenance_tasks table for tracking court maintenance

-- Create maintenance_tasks table
CREATE TABLE IF NOT EXISTS maintenance_tasks (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    venue_id UUID NOT NULL REFERENCES venues(id) ON DELETE CASCADE,
    court_id UUID NOT NULL REFERENCES courts(id) ON DELETE CASCADE,
    task_date DATE NOT NULL,
    start_hour INTEGER NOT NULL CHECK (start_hour >= 0 AND start_hour <= 23),
    duration_hours INTEGER NOT NULL DEFAULT 1 CHECK (duration_hours >= 1 AND duration_hours <= 12),
    maintenance_type TEXT NOT NULL DEFAULT ''other'',
    status TEXT NOT NULL DEFAULT ''scheduled'' CHECK (status IN (''scheduled'', ''in_progress'', ''completed'', ''cancelled'')),
    technician_name TEXT,
    cost DECIMAL(12, 2) DEFAULT 0,
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
)","-- Create indexes for efficient queries
CREATE INDEX idx_maintenance_tasks_venue_date ON maintenance_tasks(venue_id, task_date)","CREATE INDEX idx_maintenance_tasks_court_date ON maintenance_tasks(court_id, task_date)","CREATE INDEX idx_maintenance_tasks_status ON maintenance_tasks(status)","-- Enable RLS
ALTER TABLE maintenance_tasks ENABLE ROW LEVEL SECURITY","-- RLS Policies: Users can only access maintenance tasks for venues they belong to
CREATE POLICY \"Users can view maintenance tasks for their venues\"
    ON maintenance_tasks FOR SELECT
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can insert maintenance tasks for their venues\"
    ON maintenance_tasks FOR INSERT
    WITH CHECK (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can update maintenance tasks for their venues\"
    ON maintenance_tasks FOR UPDATE
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","CREATE POLICY \"Users can delete maintenance tasks for their venues\"
    ON maintenance_tasks FOR DELETE
    USING (
        venue_id IN (
            SELECT venue_id FROM user_venues WHERE user_id = auth.uid()
        )
    )","-- Trigger for updated_at
CREATE OR REPLACE FUNCTION update_maintenance_tasks_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql","CREATE TRIGGER trigger_maintenance_tasks_updated_at
    BEFORE UPDATE ON maintenance_tasks
    FOR EACH ROW
    EXECUTE FUNCTION update_maintenance_tasks_updated_at()","-- Add comment
COMMENT ON TABLE maintenance_tasks IS ''Stores individual maintenance events for courts''"}', 'maintenance_system'),
	('20260128180000', '{"-- Create table for recurring maintenance schedules
create table if not exists public.court_maintenance_schedules (
  id uuid default gen_random_uuid() primary key,
  venue_id uuid references public.venues(id) on delete cascade not null,
  court_id uuid references public.courts(id) on delete cascade not null,
  title text not null,
  frequency_days integer not null check (frequency_days > 0),
  last_performed_at date,
  next_due_date date not null,
  is_active boolean default true,
  cost_estimate numeric,
  created_at timestamp with time zone default timezone(''utc''::text, now()) not null,
  updated_at timestamp with time zone default timezone(''utc''::text, now()) not null
)","-- Enable RLS
alter table public.court_maintenance_schedules enable row level security","-- Policies
create policy \"Users can view their venue maintenance schedules\"
  on public.court_maintenance_schedules for select
  using (
    venue_id in (
      select venue_id from public.user_venues where user_id = auth.uid()
    )
  )","create policy \"Users can insert their venue maintenance schedules\"
  on public.court_maintenance_schedules for insert
  with check (
    venue_id in (
      select venue_id from public.user_venues where user_id = auth.uid()
    )
  )","create policy \"Users can update their venue maintenance schedules\"
  on public.court_maintenance_schedules for update
  using (
    venue_id in (
      select venue_id from public.user_venues where user_id = auth.uid()
    )
  )","create policy \"Users can delete their venue maintenance schedules\"
  on public.court_maintenance_schedules for delete
  using (
    venue_id in (
      select venue_id from public.user_venues where user_id = auth.uid()
    )
  )"}', 'create_maintenance_schedules'),
	('20260128210000', '{"-- Migration: Create qr_checkins table for tracking member QR scan events
-- Run this in Supabase SQL Editor

CREATE TABLE IF NOT EXISTS qr_checkins (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    member_id TEXT NOT NULL,
    member_name TEXT NOT NULL,
    check_in_date DATE NOT NULL,
    venue_id UUID REFERENCES venues(id) ON DELETE SET NULL,
    scanned_at TIMESTAMPTZ DEFAULT NOW(),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    
    -- Ensure only one check-in per member per day
    CONSTRAINT unique_member_date UNIQUE (member_id, check_in_date)
)","-- Index for fast lookups
CREATE INDEX IF NOT EXISTS idx_qr_checkins_member_date ON qr_checkins(member_id, check_in_date)","CREATE INDEX IF NOT EXISTS idx_qr_checkins_venue ON qr_checkins(venue_id)","-- Enable RLS
ALTER TABLE qr_checkins ENABLE ROW LEVEL SECURITY","-- Allow public inserts (for member self-scan verification)
DROP POLICY IF EXISTS \"Allow public insert\" ON qr_checkins","CREATE POLICY \"Allow public insert\" ON qr_checkins
    FOR INSERT
    TO anon
    WITH CHECK (true)","-- Allow public reads (for operator polling)
DROP POLICY IF EXISTS \"Allow public read\" ON qr_checkins","CREATE POLICY \"Allow public read\" ON qr_checkins
    FOR SELECT
    TO anon
    USING (true)","-- Allow authenticated users full access
DROP POLICY IF EXISTS \"Allow authenticated full access\" ON qr_checkins","CREATE POLICY \"Allow authenticated full access\" ON qr_checkins
    FOR ALL
    TO authenticated
    USING (true)
    WITH CHECK (true)","-- Comment
COMMENT ON TABLE qr_checkins IS ''Tracks member QR code scan events for real-time check-in confirmation''"}', 'create_qr_checkins');


--
-- PostgreSQL database dump complete
--

-- \unrestrict g45sxEdTEbSSmzTwybcL9Wfs4itvJ1FlUHMlOpbDYsFgefKOEfIWurQzgyLWmVa

RESET ALL;
