@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-brand-lime: #D9F99D;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-danger: #F87171;
  
  --shadow-neo: 4px 4px 0px 0px rgba(0,0,0,1);
  --shadow-neo-sm: 2px 2px 0px 0px rgba(0,0,0,1);
}

/* Custom Utilities for Neo Brutalism */
@layer utilities {
  .neo-border {
    border-width: 2px;
    border-color: var(--color-brand-black);
  }
  
  .neo-shadow {
    box-shadow: var(--shadow-neo);
  }

  .neo-shadow-sm {
    box-shadow: var(--shadow-neo-sm);
  }
  
  .neo-interactive:active {
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}

body {
  background-color: #f3f4f6;
  color: var(--color-brand-black);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
